<h1><%= @cocktail.name  %></h1>

<%= form_for [ @cocktail, @dose] do |f| %>
  <%= f.text_field :description %>
  <%= f.select :ingredient_id, Ingredient.all %>
  <%= f.submit %>
<% end %>

<%= link_to "Back to Cocktail", cocktail_path(@cocktail) %>
